<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>v-for实例</title>
	<script type="text/javascript" src="../assets/js/vue.js"></script>
</head>
<body>
	<h1>v-for实例</h1>
	<hr>
	<div id="app">
		<ul>
			<li v-for="item in sortItems">
				{{item}}
			</li>
		</ul>
		<hr>
		<ul>
			<li v-for="(student,index) in sortStudents">
				{{index+1}}:{{student.name}}-{{student.age}}
			</li>
		</ul>
	</div>

	<script type="text/javascript">
		var app = new Vue({
			el:'#app',	
			data:{
				items:[53,23,7,14,54,36,28],
				students:[
					{name:'Jspang', age:33},
					{name:'Panda', age:28},
					{name:'Panpan', age:23},
					{name:'King', age:14}
				]
			},
			// 在输出之前进行的计算
			computed:{
				sortItems:function(){
					//这里有个保护机制，如果需要给data下面的数据变值，必须重新命名
					return this.items.sort(sortNumber);
					//这里排序不会根据大小排序，只会根据首位数字排序。如果这里想正常排序，必须自己定义一个排序方法。
					//这个缺陷是所有的js程序的缺陷
				},
				sortStudents:function(){
					return sortByKey(this.students,'age');
				}
			}
		});
		function sortNumber(a,b){
			//自定义排序方法
			return a-b;
		};

		function sortByKey(array,key){
			//数组对象的排序方法
			return array.sort(function(a,b){
				var x=a[key];
				var y=b[key];
				return ((x<y)?-1:((x>y)?1:0));
			});
		}
	</script>
</body>
</html>